body{
    min-width:100% ;
    max-width: 100% ;
    min-height:100% ;
    max-height: 100% ;
    background-color: rgb(222, 241, 237);
}

.navbar{
    display: flex;
    margin: 0 auto;
    min-width: 90%;
    max-width: 90%;
    min-height: 15vh;
    max-height: 15vh;    
    align-items: center;
    justify-content:space-around;
}



.navbar li {
    list-style-type: none;
    font-weight: bold;
    border-bottom: #878a89 4px solid; ;
    padding-bottom: 0px;
    transition: 0.5s;
}
.navbar li:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-bottom: #9adbc6 4px solid ;
}

.fontPaci{
    font-family: 'Pacifico', cursive;
}
.fontzize30px{
    font-size:36px
}
.fontzize24px{
    font-size: 24px;
}

.cuerpo{
    background-color:rgb(255, 238, 0);
    min-width:100%;
    max-width:100%;
    align-items: center;
    display:flex;
    justify-content:center;
    flex-direction: column;


}
.aviso{
    background-color:#ffffff;
    min-width:100% ;
    max-width:100% ;
    min-height:85vh ;
    max-height:85 vh ;    
 
}
.aviso img{
    padding-top: 50px;
    margin:  auto;
    max-width: 800px;
}


.footer{
    background-color:rgb(255, 51, 0);
    min-width:100%;
    max-width:100%;
    min-height:20vh;
    max-height:20vh;
}
.primeraparte{

    width:90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
 
    
}
.sudaderas{
    background-color:rgb(194, 87, 87);
    margin: 30px;
    min-width:440px;
    max-width:440px;
    min-height:640px;
    max-height:640px;
}

.color_blanco{
    background-color:white;
    color: white;
}
.color_black{
    background-color:#228db8;
    color: #eaeff1 ;
    border-radius: 10px;
    padding:30px
}